INSTALL
compile
m4
Makefile
Makefile.in
aclocal-copy/
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps
src/config.h
src/config.h.in
src/stamp-h1
src/v4c
src/Makefile
src/Makefile.in

*.o

*-libtool
*-lib
ltmain.sh
