Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/socket-ops/.deps/
src/socket-ops/Makefile
src/socket-ops/Makefile.in
src/socket-ops/socket-ops
src/socket-ops/*.o
src/stamp-h1

